/*.hidden{
	display: none !important;
}*/

#modale{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-wrapper{
    box-sizing: border-box;
	background-color:#ffffff ;
	width: 630px;
	height: 688px;
	border-radius: 10px;
    padding: 25px;
}
.modal-wrapper .icon-buttons{
    max-width: 630px;
	display: flex;
	justify-content: space-between;
    margin-bottom: 10px;
}
.modal-wrapper .icon-buttons button{
    width: 24px;
    height:24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
}

.modal-wrapper .icon-buttons .fa-arrow-left{
	font-size: 21px;
}
.modal-wrapper h1{
	font-size: 26px;
	font-family:'Work Sans';
	color: #000000;
	text-align: center;
}

.contenu-modale{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.galerie-photo .content{
    margin: 50px 0 0;
    overflow: auto;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 10px;
}

.galerie-photo figure{
    position: relative;
}
.galerie-photo img{
    width: 76px;
    height: 101px;
    object-fit: cover;
    margin-bottom: 20px;
}
.galerie-photo .poub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height:17px;
    position: absolute;
    right: 6px;
    top: 6px;
    background-color: #000000;
    font-size: 11px;
    color: #ffffff;
    border-radius: 2px;
    border: none;
}

.content{
    width: 420px;
    display: flex;
}
.modal-footer{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.commande{
    width: 420px;
    border-top: solid 1px #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.commande button{
    font-family: 'Syne';
	font-weight: 700;
	color: white;
	width: 237px;
    height:36px;
	text-align: center;
	border-radius: 60px;
    margin:36px 36px 10px;
    border: none;
}
.add-button{
	background-color: #1D6154;
}

.validate-button{
    background-color:#a7a7a7;
}

.green{
    background-color: #1D6154;
}

.en-tete{
    width: 100%;
}
.cadre-photo{
    box-sizing: border-box;
    width: 420px;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e8f1f6;
    border-radius: 3px;
    padding: 15px;
    gap:6px;
    margin:30px 0 0;
    position: relative;

}
.cadre-photo i{
    font-size: 76px;
    color: #b9c5cc;
}
.cadre-photo .ajout{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color:#cbd6dc ;
    color: #306685;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    z-index: 1;
    margin: 0;

}
#input-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 0;
    opacity: 0%;
}
.cadre-photo .format{
    font-size: 10px;
    color: #444444;
}
.cadre-photo .ajouter-photo{
    align-items: center;
    position: relative;
}
.ajout-photo .content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title-form,.select-container{
    vertical-align: center;
    box-sizing: border-box;
    width: 420px;
    height:51px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.09);
    border: none;
    font-size: 14px;
    color: #444444;
}
#title-form{
    padding: 0 15px;
}
.select-container{
    position: relative;
}
.select-container select{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    appearance: none;
    z-index: 0;
    border: none;
    box-sizing: border-box;
}
.select-container i{
    z-index: 1;
    position:absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.ajout-photo label{
    font-weight: 500;
    margin-top: 20px;
}

#photo-preview{
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#picture-error{
    color: #ffffff;
    background-color: #ff0000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}